<form method="POST" action="/recipes/<%= @recipe.id %>">
<input id="hidden" type="hidden" name="_method" value="DELETE">

<h1><%= @recipe.name %></h1>
Ingredients: <%= @recipe.ingredients %>
Cook Time: <%= @recipe.cook_time %>
<input type="submit" value="delete">
</form>